<h2>Agregar Nueva Bebida</h2>

<div class="card">
  <form [formGroup]="drinkForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" id="name" formControlName="name" required>
      <div *ngIf="drinkForm.get('name')?.invalid && drinkForm.get('name')?.touched" class="text-danger">
        El nombre es requerido
      </div>
    </div>

    <div class="form-group">
      <label for="description">Descripción</label>
      <textarea id="description" formControlName="description" rows="3" required></textarea>
      <div *ngIf="drinkForm.get('description')?.invalid && drinkForm.get('description')?.touched" class="text-danger">
        La descripción es requerida
      </div>
    </div>

    <div class="form-group">
      <label>Tamaños Disponibles</label>
      <div class="checkbox-group-horizontal" formArrayName="sizes">
        <div *ngFor="let size of availableSizes; let i = index">
          <label>
            <input type="checkbox" [formControlName]="i">
            {{ size }}
          </label>
        </div>
      </div>
      <div *ngIf="drinkForm.get('sizes')?.invalid && drinkForm.get('sizes')?.touched" class="text-danger">
        Seleccione al menos un tamaño
      </div>
    </div>

    <div class="form-group">
      <label for="price">Precio</label>
      <input type="number" id="price" formControlName="price" step="0.01" required>
      <div *ngIf="drinkForm.get('price')?.invalid && drinkForm.get('price')?.touched" class="text-danger">
        El precio debe ser mayor o igual a 0
      </div>
    </div>

    <div class="text-end">
      <button class="btn-crear" type="submit" [disabled]="!drinkForm.valid">Crear Bebida</button>
    </div>
  </form>
</div>
