<div class="card">
  <div class="card-header">
    Lista de Bebidas
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Tamaños</th>
          <th>Precio</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let drink of drinks">
          <td>{{ drink.id }}</td>
          <td>{{ drink.name }}</td>
          <td>{{ drink.description }}</td>
          <td>{{ drink.availableSizes }}</td>
          <td>${{ drink.price }}</td>
          <td>
            <button class="btn-info" (click)="showDrinkDetails(drink.id!)">
              Ver Detalles
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
